.spacer{
    height: 50px;
}

.index-card{
    background-color: cornflowerblue;
}
.listings-card{
    background-color: #A1E8AF;
}

.create-listing-form{
    background-color: #FFD15C;
}
.path{
    background-color: #4D1D72;
    color: white;
}

.navbar-brand, h1{
    font-family: 'Peralta', cursive;
}
p{
    font-family: 'Biryani', sans-serif;
}
h2, h3{
    font-family: 'Ubuntu Condensed', sans-serif;
}

.form-card{
    width: 50%;
}

