.spacer{
    height: 50px;
}

.card{
    background-color: cornflowerblue;
}

.path{
    background-color: #4D1D72;
    color: white;
}

.navbar-brand, h1{
    font-family: 'Peralta', cursive;
}
p{
    font-family: 'Biryani', sans-serif;
}
h2, h3{
    font-family: 'Ubuntu Condensed', sans-serif;
}