.navbar{
    background-color: #B4D1CE;

}
body{
    background-color: #CAD2B2;
}

.spacer{
    height: 50px;
}

.card{
    background-color: #B4D1CE;
}
.path{
    background-color: #4D1D72;
    color: white;
}