<!doctype html>
<html lang="en">
<head th:include="/partials/head.html :: head">
</head>
<body>
<nav th:include="/partials/navBar.html :: navBar"></nav>
<!--<h1>Post made by <span th:text="${}"></span> .</h1>-->

<h2>Showing Listings by:
    <span th:text="${user.getUsername()}"></span>
</h2>
<table class="">
    <thead>
    <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Image</th>
        <th>Price</th>
        <th>User</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody  th:each="listing : ${listings}">
    <tr>
        <td th:text="${listing.title}"></td>
        <td th:text="${listing.body}"></td>
        <td><img th:src="${listing.getImageUrl}" height="100px"></td>
        <td th:text="${listing.price}"></td>
        <td th:text="${listing.user.getUsername()}"></td>
        <td><a th:href="@{'/listing/{id}'(id= ${listing.id})}">View</a></td>

    </tr>
    </tbody>
</table>





<div th:insert="partials/footer.html :: footer"></div>

</body>
</html>