<!--<nav class=" " th:fragment="navBar" xmlns:sec="http://www.w3.org/1999/xhtml">-->
<!--    <div class="" id="">-->
<!--        <div class="">-->
<!--            <ul class="">-->
<!--                <li><a class="" href="/">Project HandMeDown</a></li>-->
<!--            </ul>-->

<!--            <div sec:authorize="isAnonymous()">-->
<!--                <ul class="">-->
<!--                    <li class=""><a class="" th:href="@{/sign-up}">Register</a></li>-->
<!--                    <li class=""><a class="" th:href="@{/listings}">Marketplace</a></li>-->
<!--                    <li class=""><a class="" th:href="@{/forum}">Forum</a></li>-->
<!--                    <li class=""><a class="" th:href="@{/activities}">Activities</a></li>-->
<!--                    <li class=""><a class="" th:href="@{/about}">About Us</a></li>-->
<!--                    <li class=""><a class="" th:href="@{/login}">Login</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div sec:authorize="isAuthenticated()">-->
<!--                <ul class="d-flex align-items-center">-->
<!--                    <li class=""><a class="" th:href="@{/profile}">Profile</a></li>-->
<!--                    <li class=""><a class="" th:href="@{/listings}">Marketplace</a></li>-->
<!--                    <li class=""><a class="" th:href="@{/forum}">Forum</a></li>-->
<!--                    <li class=""><a class="" th:href="@{/activities}">Activities</a></li>-->
<!--                    <li class=""><a class="" th:href="@{/about}">About Us</a></li>-->
<!--                    <li class="">-->
<!--                        <form th:action="@{/logout}" th:method="post">-->
<!--                            <button class="" type="submit">Logout</button>-->
<!--                        </form>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->


<!--            &lt;!&ndash;        <form class="">&ndash;&gt;-->
<!--            &lt;!&ndash;            <input id="input" class="" type="search" placeholder="Search" aria-label="Search">&ndash;&gt;-->
<!--            &lt;!&ndash;            <button id="search" class="" type="submit">Search</button>&ndash;&gt;-->
<!--            &lt;!&ndash;        </form>&ndash;&gt;-->


<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex" th:fragment="navBar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="/">Project HandMeDown</a>

        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div sec:authorize="isAnonymous()" class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--                <li class="nav-link"><a class="" th:href="@{/sign-up}">Register</a></li>-->
                <li class="nav-item"><a class="nav-link" th:href="@{/listings}">Marketplace</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/forum}">Forum</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/activities}">Activities</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/about}">About Us</a></li>
<!--                <li class="nav-link"><a class="" th:href="@{/login}">Login</a></li>-->
            </ul>
            <!-- Left links -->
            <div class="d-flex align-items-center">
                <form th:href="@{/sign-up}" th:method="get">
                <button type="button" class="btn btn-primary me-3">
                    Register
                </button>
                </form>
                <form th:href="@{/login}" th:method="get">
                <button type="button" class="btn btn-link px-3 me-2">
                    Login
                </button>
                </form>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--                <li class="nav-link"><a class="" th:href="@{/sign-up}">Register</a></li>-->
                <li class="nav-item"><a class="nav-link" th:href="@{/listings}">Marketplace</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/forum}">Forum</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/activities}">Activities</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/about}">About Us</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/profile}">Profile</a></li>
                <!--                <li class="nav-link"><a class="" th:href="@{/login}">Login</a></li>-->
            </ul>
            <!-- Left links -->
            <div class="d-flex align-items-center">
                <button th:href="@{/logout}" th:method="post" type="button" class="btn btn-link px-3 me-2">
                    Logout
                </button>

            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->


