<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/partials/head.html :: head">
</head>
<body>
<nav th:include="/partials/navBar.html :: navBar"></nav>
<h1>This is the Admin page</h1>
<img th:src="*{user.getUserIMG()}" height="200px">
<h1>Hello, <span th:text="${user.getUsername()}"></span>!</h1>
<button class="" >Edit Profile</button>
<div class="">
    <formfield>
    <form th:action="@{/profile}" method="POST" th:object="${user}">
        <input th:field="*{id}" th:value="*{id}" hidden />
        <label for="username">Username</label>
        <input id="username" th:field="*{username}" required />
        <br>
        <br>
        <label for="email">Email</label>
        <input id="email" th:field="*{email}" required />
        <br>
        <br>
        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}" required />
        <br>
        <br>
        <label for="user-phone">Phone Number</label>
        <input id="user-phone" type="text" th:field="*{userPhone}" required />
        <br>
        <br>
        <label for="user-location">Location</label>
        <input id="user-location" type="text" th:field="*{userLocation}" placeholder="San Antonio" required />
        <br>
        <br>
        <input th:field="*{userIMG}" type="text" name="ListingImage" id="ListingImage" class="" placeholder="Image Url"/>
        <button type="button" onclick="upload()">upload image</button>
        <p>preview: </p>
        <img id="profile-preview" src="" height="75px">
        <br>
        <br>
        <input value="Sign me up!" type="submit" />
    </form>
    </formfield>
</div>
<div>
    <a th:href="@{/listings}">Look at all the listings</a>
    <a th:href="@{/forum}">Look at all the forum post</a>
    <a th:href="@{/activities}">Look at all the activities</a>
    <a th:href="@{/admin/users}">Look at all the users</a>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    function upload() {
        const apiKey = [[${filestackKey}]];
        let apiKey1 = [[${fileStackKey}]];
        const client = filestack.init(apiKey);
        const options = {
            onUploadDone: file => {
                let imgURL = file.filesUploaded[0].url;
                console.log(imgURL);
                document.getElementById("ListingImage").value = imgURL;
                document.getElementById("profile-preview").src = imgURL;
            }
        };
        client.picker(options).open();
    }

    /*]]>*/
</script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
</body>
</html>