<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="">
</head>
<body>
<formfield>
    <form th:action="@{/reset_password}" method="POST" th:object="${resetPassword}" >
        <label for="password">Password</label>
        <input id="password" name="password" type="password" th:field="*{password}" >
        <label for="confirmPassword">Password</label>
        <input id="confirmPassword" name="password" type="password" th:field="*{confirmPassword}" >
        <input id="token" name="token" type="text" th:field="*{token}" th:value="${resetPassword.getToken()}" hidden>
        <button type="submit">Reset Password</button>
    </form>
</formfield>
</body>
</html>