<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/partials/head.html :: head">
</head>
<body>
<nav th:include="/partials/navBar.html :: navBar"></nav>
<formfield>
<form th:action="@{/activities/edit}" th:object="${activity}" method="post" >

    <label for="title">title:
        <input th:field="*{title}" id="title" type="text">
    </label><br>

    <label for="body">New Activity
        <input th:field="*{body}" id="body" type="text">
    </label><br>

    <label for="imageUrl">picture
        <input th:field="*{imageUrl}" id="imageUrl" type="text">
    </label><br>

    <label for="webUrl">Activity info URL here
        <input th:field="*{webUrl}" id="webUrl" type="url">
    </label><br>
    <label for="activityCategories">Select Categories:
        <input type="checkbox" name="activityCategories" id="activityCategories"
               th:each=" category : ${categories}"
               th:text="${category.getName()}"
               th:value="${category.id}"
               th:field="*{activityCategories}"/>
    </label>


    <input th:field="*{user}" th:value="${activity.getUser()}" hidden>
    <input th:field="*{id}" th:value="${activity.getId()}" hidden>
    <input th:field="*{timestamp}" th:value="${activity.timestamp}" hidden>
    <input th:field="*{viewCount}" th:value="${activity.viewCount}" hidden>


    <button type="submit">Save my post!</button>
</form>
</formfield>
<div th:insert="partials/footer.html :: footer"></div>

</body>
</html>