<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/partials/head.html :: head">
</head>
<body>
<nav th:include="/partials/navBar.html :: navBar"></nav>
<formfield>
<form th:action="@{/activities/create}" th:object="${activity}" method="post" >

    <label for="title">title:
        <input th:field="*{title}" id="title" type="text" required>
    </label><br>

    <label for="body">New Activity
        <input th:field="*{body}" id="body" type="text" required>
    </label><br>

    <label for="imageUrl">picture
        <input th:field="*{imageUrl}" id="imageUrl" type="text">
    </label><br>

    <label for="webUrl">Activity info URL here
        <input th:field="*{webUrl}" id="webUrl" type="url">
    </label><br>

    <p>
    <label>Select Categories:
        <input type="checkbox" name="activityCategories"
               th:each="category : ${categories}"
               th:text="${category.getName()}"
               th:value="${category.id}"
               th:field="*{activityCategories}"/>
    </label>
    </p>


    <button type="submit">Save my post!</button>
</form>
</formfield>
<br>
<button type="button" onclick="upload()">upload image</button>
<div th:insert="partials/footer.html :: footer"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    function upload() {
        console.log([[${filestackKey}]]);
        const apiKey = [[${filestackKey}]];
        console.log(apiKey);
        const client = filestack.init(apiKey);
        const options = {
            onUploadDone: file => {
                let imgURL = file.filesUploaded[0].url;
                console.log(imgURL);
                document.getElementById("imageUrl").value = imgURL;
            }
        };
        client.picker(options).open();
    }
    /*]]>*/
</script>

<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
</body>
</html>

