<!doctype html>
<html lang="en">
<head th:include="/partials/head.html :: head">
</head>
<body>
<nav th:include="/partials/navBar.html :: navBar"></nav>
<!--<h1>Post made by <span th:text="${}"></span> .</h1>-->


<table class="table">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">image Url</th>
        <th scope="col">web Url</th>
        <th scope="col">Category</th>
        <th scope="col">UserName</th>
        <th scope="col">view</th>
    </tr>
    </thead>
    <tbody  th:each="activity : ${activities}">
    <tr>
        <td th:text="${activity.title}"></td>
        <td th:text="${activity.body}"></td>
        <td th:if="${activity.imageUrl != null}"><img th:src="@{${activity.imageUrl}}" style="max-height:100px">
        <td th:text="${activity.webUrl}"></td>
        <td >
            <p th:each="category : ${activity.getActivityCategories()}"><a th:href="@{/activities/categories/{id} (id= ${category.getId()})}" th:text="${category.getName() }"></a>
            </p>
        </td>

        <td th:text="${activity.user.getUsername()}"></td>
        <td><a th:href="@{'/activities/{id}'(id= ${activity.id})}">View</a></td>

    </tr>
    </tbody>
</table>





<div th:insert="partials/footer.html :: footer"></div>

</body>
</html>