<!doctype html >
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="/partials/head.html :: head">
</head>
<body>
<nav th:include="/partials/navBar.html :: navBar"></nav>

<!--searchbar-->


<form th:action="@{/activities/search}" method="get">
    <input type="text" name="keyword" th:value="${keyword}"  placeholder="Search Activities by keyword" size="50" >
    <button type="submit" class="" >Search</button>
       <a class="" th:href="@{'/activities'}" roll="button">reset</a>
</form>

<!--alert msg-->

<!--<div class="alert alert-primary alert-dismissible" th:text="${deleteMsg}" th:if="${deleteMsg}" >-->
<!--    <button type="button" class = "btn-class" data-bs-dismiss="alert" aria-label="close"></button>-->
<!--</div>-->

<!--<div class="alert alert-primary alert-dismissible" th:text="${createMsg}" th:if="${createMsg}" >-->
<!--    <button type="button" class = "btn-class" data-bs-dismiss="alert" aria-label="close"></button>-->
<!--</div>-->

<table class="">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">image Url</th>
        <th scope="col">web Url</th>
        <th scope="col">UserName</th>
        <th scope="col">view</th>
    </tr>
    </thead>
    <tbody  th:each="activity : ${activities}">
    <tr>
        <td th:text="${activity.title}"></td>
        <td th:text="${activity.body}"></td>
        <!--        <td><img th:src="@{${activity.imageUrl}}" height="100px" >-->
        <td th:if="${activity.imageUrl != null}"><img th:src="@{${activity.imageUrl}}" height="100px">
        </td>
        <td th:text="${activity.webUrl}"></td>
        <td><a th:href="@{'/activities/user/{user_id}'(user_id=${activity.getUser().getId()})}" th:text="${activity.getUser().getUsername()}"></a></td>
        <td><a th:href="@{'/activities/{id}'(id= ${activity.id})}">View</a></td>
    </tr>
    </tbody>
</table>

<!----------------------------------------->

<a href="/activities/create" class="">add activity</a>


<!--footer-->
<div th:insert="partials/footer.html :: footer"></div>
</body>
</html>