<!doctype html >
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="/partials/head.html :: head">
</head>
<body>
<nav th:include="/partials/navBar.html :: navBar"></nav>
<form th:action="@{/activities/search}" method="get">
    <input type="text" name="keyword" th:value="${keyword}"  placeholder="Search Activities by keyword" size="50" >
    <button type="submit" class="btn btn-info" >Search</button>
    <a class="" th:href="@{'/activities'}" role="button">reset</a>
</form>

<!--alert msg-->

<div class="alert alert-primary alert-dismissable" th:text="${deleteMsg}" th:if="${deleteMsg}" >
    <button type="button" class = "" data-bs-dismiss="alert" aria-label="close"></button>
</div>

<div class="alert alert-primary alert-dismissable" th:text="${createMsg}" th:if="${createMsg}" >
    <button type="button" class = "" data-bs-dismiss="alert" aria-label="close"></button>
</div>


<table class="table">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">image Url</th>
        <th scope="col">web Url</th>
        <th scope="col">Category</th>
        <th scope="col">UserName</th>
        <th scope="col">view</th>
        <th scope="col">Date</th>
        <th scope="col">Hit</th>
    </tr>
    </thead>
    <tbody  th:each="activity : ${activities}">
    <tr>
        <td th:text="${activity.title}"></td>
        <td th:text="${activity.body}"></td>
        <td th:if="${activity.imageUrl != null}"><img th:src="@{${activity.imageUrl}}" height="100px">
        </td>
        <td> <a th:href="@{${activity.webUrl}}" th:text="${activity.getWebUrl()}" target="_blank"></a></td>

        <td >
            <p th:each="category : ${activity.getActivityCategories()}"><a th:href="@{/activities/categories/{id} (id= ${category.getId()})}" th:text="${category.getName() }"></a>
            </p>
        </td>


        <td><a th:href="@{'/activities/user/{user_id}'(user_id=${activity.getUser().getId()})}" th:text="${activity.getUser().getUsername()}"></a></td>
        <td><a th:href="@{'/activities/{id}'(id= ${activity.id})}">View</a></td>
        <td th:text="${activity.timestamp}"></td>
        <td th:text="${activity.getViewCount()}"></td>
    </tr>
    </tbody>
</table>

<!------------------ADD POST----------------------->

<a href="/activities/create" class="">add activity</a>


<!--footer-->
<div th:insert="partials/footer.html :: footer"></div>
</body>
</html>