<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="/partials/head.html :: head">
<body>
<nav th:include="/partials/navBar.html :: navBar"></nav>
<h1>Creating posts here!</h1>
<formfield>
    <form th:action="@{/create/post}" th:method="post" th:object="${post}">
        <input th:field="*{title}" type="text" name="postTitle" id="postTitle" class="" placeholder="Title" required/><br>
        <input th:field="*{body}" type="text" name="postBody" id="PostBody" class="" placeholder="Body" required/>
        <p>
            <label>Select Categories:
                <input type="checkbox" name="forumPostCategories"
                       th:each="category : ${categories}"
                       th:text="${category.getName()}"
                       th:value="${category.id}"
                       th:field="*{forumPostCategories}"/>
            </label>
        </p>
        <button type="submit">Post</button>
    </form>
</formfield>


</body>
</html>