<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/partials/head.html :: head">
</head>
<body>
<nav th:include="/partials/navBar.html :: navBar"></nav>
<div class="">
    <h1>Edit Comment</h1>
<formfield>
    <form th:action="@{/edit/reply}" th:method="post" th:object="${reply}">
        <input th:field="*{id}" th:value="${reply.getId()}" hidden>
        <input th:field="*{user}" th:value="${reply.getUser()}" hidden>
        <input th:field="*{timestamp}" th:value="${reply.getTimestamp()}" hidden>
        <input th:field="*{forumPost}" th:value="${reply.getForumPost()}" hidden>
        <label >editing comment</label><br>
        <textarea th:field="*{body}"></textarea><br>
        <input type="submit">
    </form>
</formfield>
    <span><a th:href="@{/reply/{id}/delete(id=${reply.id},action='show_all')}"><sup>Delete Comment</sup></a></span>&nbsp;
</div>


</body>
</html>