<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="/partials/head.html :: head">
<body>
<nav th:include="/partials/navBar.html :: navBar"></nav>
<div class="container-fluid">

<!--    topic-->
    <div>
        <h3 th:text="${posts.getTitle()}"></h3>
        <p th:text="${posts.getBody()}"></p>
        <h5><span th:text="${posts.getUser().getUsername()}">username</span></h5>
        <span th:if="${posts.user.getId() == user.getId()}"><a th:href="@{/edit/{id}/post(id=${posts.id})}"><sup>edit</sup></a></span>&nbsp;
        <div sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/post/{id}/delete(id=${posts.id})}">Admin Delete Post</a>
            <br>
            <a th:href="@{/edit/{id}/post(id=${posts.id})}">Admin Edit Post</a>
        </div>
    </div>
    <p>Tags: &nbsp;</p>
    <ul th:each="category : ${categories}">
        <a th:href="@{/FilterByCategory/{cat_id}(cat_id=${category.getId()})}">
            <li th:text="${category.getName()}"></li>
        </a>
    </ul>

<!--    replies-->
    <div  th:each="reply : ${replies}">
        <p th:text="${reply.body}"></p>
        <p th:text="${reply.timestamp}"></p>
        <h4 th:text="${reply.forumPost.getId()}" ></h4>
        <p th:text="${reply.user.getUsername()}"></p>
        <span sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/reply/{id}/delete(id=${reply.id},action='show_all')}">Admin Delete Comment</a>
        </span>
        <button><a th:href="@{/report/{type}/{id}(type = 'forum_reply', id = ${reply.getId()})}">Report Reply</a></button>
        <span th:if="${reply.user.getId() == user.getId()}"><a th:href="@{/edit/reply/{id}(id=${reply.getId()})}"><sup>edit</sup></a></span>&nbsp;
    </div>
    <br>

<!--    reply form-->
    <form th:action="@{/create/reply/{id}(id=${posts.getId()})}" method="post" th:object="${reply}">
        <textarea rows="12" cols="100" name="message" th:field="*{body}"></textarea><br>
        <button type="submit">Submit Reply</button>
    </form>
    <button><a th:href="@{/report/{type}/{id}(type = 'forum_post', id = ${posts.getId()})}">Report Post</a></button>
    <button><a th:href="@{'/forum'}">Go back to forum</a></button>
</div>


</body>
</html>