<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/partials/head.html :: head">
</head>
<body>
<nav th:include="/partials/navBar.html :: navBar"></nav>
<div class="">
  <h1>Edit post</h1>
<formfield>
  <form th:action="@{/edit/post}" th:method="post" th:object="${post}">
    <input th:field="*{id}" hidden>
    <input th:field="*{user}" hidden>
    <input th:field="*{timestamp}" hidden>
    <label >Title</label><br>
    <input th:field="*{title}"><br>
    <label >Body</label><br>
    <textarea th:field="*{body}"></textarea><br>
    <input type="submit">
  </form>
</formfield>
  <span><a th:href="@{/post/{id}/delete(id=${post.id},action='show_all')}"><sup>Delete Post</sup></a></span>&nbsp;
</div>


</body>
</html>